@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <style type="text/css">
        html, body {
            width: 100%;
            padding: 0;
            margin: 0;
        }

        #map {
            height: 450px;
            width: 100%;
        }

        #fload_planel {
            position: absolute;
            top: 10px;
            left: 25%;
            z-index: 5;
            background-color: #fff;
            padding: 5px;
            border: 1px solid #999;
            text-align: center;
            font-family: 'Roboto','sans-serif';
            line-height: 30px;
            padding-left: 10px;
        }
    </style>
    <script>
        function initMap() {            
            var map = new google.maps.Map(document.getElementById("map"), {
                center: new google.maps.LatLng(21.027763, 105.834160),
                zoom: 13
            });
            var geocoder = new google.maps.Geocoder();
            document.getElementById("submit").addEventListener("click", function () {
                var address = document.getElementById("address").value;
                geocoder.geocode({ 'address': address }, function (results, status) {
                    if (status === 'OK') {
                        map.setCenter(results[0].geometry.location);
                        var marker = new google.maps.Marker({
                            map: map,
                            position: results[0].geometry.location
                        });
                    } else {
                        alert('Geocode was not successful for the following reason: ' + status);
                    }
                });
            });
        }
    </script>
</head>
<body>
    <div id="floating-panel">
        <input id="address" type="text" value="Sydney, NSW">
        <input id="submit" type="button" value="Geocode">
    </div>
    <div id="map"></div>
    <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB9uUyT6l-EdgGNTW1kBGz_0WJ278a3MCY&callback=initMap&libraries=places"></script>
</body>
</html>
